* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-darkBlue: #1c1d25;
    --color-navyBlue: #4377B1;
    --color-white: #F5FAFA;
    --color-mintgreen: #2DD881;
    --color-lightred: #CE4760;
}

section {
    height: 500px;
    background-color: var(--color-white); 
    border: solid black 1px;
}

.home {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 500px;
    list-style-type: none;
    
}

.nav-buttons li {
    font-size: 1.5rem;
}

.container-home-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 80px;
}


.home-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 150px;
}

.socialmedia {
    padding-bottom: 200px;
}

.social-icon {
    margin: 10px;
}

.button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 30px;
    padding-top: 5px;
    background-color: var(--color-lightred);
    text-align: center;
}

.button:hover {
    opacity: 85%;
}

.buttnon:active {
    background-color: #A9A9A9;
    color: #808080;
}

.sub-section {
    padding: 80px;
}

footer {
    height: 500px;
    background-color: black; 
}




/* FONTS  (Perfect Fourth Scale - 5.6, 4.2, 3.2, 2.4, 1.8, 1.3, 1rem 0.75 */
 
 
body{
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 5.6rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2.4rem;
    font-weight: 300;
}