:root {
    /* color set */
    --color-playerX:rgba(0, 195, 227);
    --color-playerO:rgba(255, 69, 84);
    --color-gray: rgba(152, 152, 152);
    --color-darkGray: 	rgba(65, 69, 72);
    --color-red: rgba(230,0,18);
    --color-snow: rgba(255, 251, 252);
    /* --color-yellowRed: 	rgba(247, 181, 56); */

    /* font settings */
    --font-family-play: 'Play', sans-serif;
    --cell-size: 7rem;
    --mark-size: calc(var(--cell-size) * 0.8);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
    font-weight: normal;
}

body {
    background-color: var(--color-snow);
    font-family: var(--font-family-play);
    color: var(--color-darkGray);
}
@media (max-width: 1200px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 768px) {
    html{
        font-size: 70%;
    }
} 

button {
    font-family: var(--font-family-play);
}
.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
}

.flex-row-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.board {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
 
}

.container-prevNext button {
    
}

.container-prevNext button{
    margin: 0.5rem;
    font-size: 1.4rem;
    text-align: center;
	display: inline-block;
    width: calc(var(--cell-size) * 3 / 2.1);
    font-weight: bold;
    padding: 5px 0 5px 5px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: var(--color-gray);
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em var(--color-gray); 
    cursor: pointer;
}

#reset {
    font-size: 2rem;
    text-align: center;
	display: inline-block;
    width: calc(var(--cell-size) * 3 / 2.1);
    font-weight: bold;
    margin-top: 2rem;
    padding: 5px 0 5px 5px ;
    background-color: var(--color-red);
    text-shadow: -1px -1px black, 1px 1px white;
    color: var(--color-gray);
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em var(--color-gray); 
    cursor: pointer;
    
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: var(--cell-size);
    height: var(--cell-size);
    border: 3px solid var(--color-darkGray);
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}
.cell:nth-child(3n+1) {
    border-left: none;
}
.cell:nth-child(3n+3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
    background-color: var(--color-playerX);
}
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    background-color: var(--color-gray);
}

.cell.x::before,
.cell.x::after, 
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after {
    background-color: var(--color-playerO);
}
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    background-color: var(--color-gray);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.o::before, 
.board.o .cell:not(.x):not(.o):hover::before {
    width: calc(var(--mark-size) * 0.9);
    height: calc(var(--mark-size) * 0.9);
}
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * .635);
    height: calc(var(--mark-size) * .635);
    background-color: var(--color-snow);
}

.hide {
    display: none;
}