:root {
    --color-blue:rgba(0, 195, 227);
    --color-blueLight:rgba(0, 195, 227, 0.5);
    --color-lightRed:rgba(255, 69, 84);
    --color-gray: rgba(152, 152, 152);
    --color-darkGray: 	rgba(65, 69, 72);
    --color-yellowRed: 	rgba(247, 181, 56);
    --color-snow: rgba(255, 251, 252);
    --font-family-permanentMarker: 'Permanent Marker', cursive;
    --font-family-play: 'Play', sans-serif;

    --cell-size: 150px;
    --mark-size: calc(var(--cell-size) * 0.9);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
    font-family: var(--font-family-mPlus);
    font-weight: normal;
}

body {
    background-color: var(--color-snow);
}
.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.board {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
    /* border: solid 3px black; */
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: var(--cell-size);
    height: var(--cell-size);
    border: 3px solid black;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}
.cell:nth-child(3n+1) {
    border-left: none;
}
.cell:nth-child(3n+3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}


.cell.x::before,
.cell.x::after {
    background-color: var(--color-blue);
}
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    background-color: var(--color-gray);
}

.cell.x::before,
.cell.x::after, 
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}


.cell.o::before,
.cell.o::after {
    background-color: var(--color-lightRed);
}
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    background-color: var(--color-gray);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    
    border-radius: 50%;
}

.cell.o::before, 
.board.o .cell:not(.x):not(.o):hover::before {
    width: calc(var(--mark-size) * 0.9);
    height: calc(var(--mark-size) * 0.9);
}
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * .635);
    height: calc(var(--mark-size) * .635);
    background-color: var(--color-snow);
}

