:root {
    --color-blue: #2383D1;
    --color-maizecrayola: #F3CA40;
    --color-staryellow:#F2A541;
    --color-blackfogra: #01161E;
    --color-gainsboro: #D8E1E9;
    --color-ghostwhite: #F2F4FF;
    --color-snow: #FFFCFF;
    --color-gunmetal: #292F36;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

section{
    display: block;
}

/* -----Container Display Styling starts here*----- */
#img-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;     
    text-align: center;     
    background: url(./images/Header.jpg);
    background-position: center;
    background-size: cover;
    width: 50%;
    color: whitesmoke;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.title-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
}

.container-main{
    position: absolute;
    display: flex;
    justify-content: center;
    height: 900px;
    width: 100%;
    flex-direction: row;
    background-color: var(--color-snow);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-height: 900px) {
    .container-main {
        height: 100%;
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
    }
}

@media(max-width: 1200px) {

}


.container-survey{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-gunmetal);
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.container-main-feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
}

.feedback-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.personal-info{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
}

#description {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-blackfogra);
}

.primary-info{
    display: flex;
    flex-direction: column;
}

.primary-info .flex-row-item{
    justify-content: flex-start;
}

.container-main{
    margin: auto;
}

.container-main img{
    max-width: 300px;
}

#title{
    margin-top: 10px;  
}

form{
    padding-left: 20px;
    padding-right: 20px;
}

#sex-row label {
    margin: 0;
    margin-left: 0.2rem;
    margin-right: 1rem;
}

#secondary-info-section{
    padding-right: 4rem;
}

.section-type-of-vehicle{
    align-self: flex-start;
}

.section-type-of-vehicle select{
    width: 10rem;
}

/* margin on the left of personal info items */
.personal-info .flex-column-item {
    margin-left: 20px;
}

.secondary-info {
    margin-left: 20px;
}

/* primary info input styling */
.primary-info input {
    min-width: 15rem;
    outline: none;
    padding: .5rem .5rem .5rem 1rem;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 0.5px solid #646464;
    background-color: transparent;
    font-size: 1.2rem;
}
    /* made age width smaller */
#age {
    min-width: 5rem;
}

#contact-number {
    min-width: 10rem;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Interactive Items Styling */

.container{
position: relative;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.container .edit:hover{
text-decoration: underline;
}
.container .star-widget input{
display: none;
}
.star-widget label{
font-size: 1.5rem;
color: #444;
padding: 0.2rem;

float: right;
transition: all 0.2s ease;
}
.container input:not(:checked) ~ label:hover,
.container input:not(:checked) ~ label:hover ~ label{
color: var(--color-staryellow);
}
.container input:checked ~ label{
color: var(--color-staryellow);
}
.container input#exterior-rate-5:checked ~ label{
color: var(--color-staryellow);
text-shadow: 0 0 25px  var(--color-staryellow);
}

.container input#interior-rate-5:checked ~ label{
color: var(--color-staryellow);
text-shadow: 0 0 25px  var(--color-staryellow);
}

.container input#staff-rate-5:checked ~ label{
color: var(--color-staryellow);
text-shadow: 0 0 25px  var(--color-staryellow);
}


.container input#staff-rate-5:checked ~ label{
color: var(--color-staryellow);
text-shadow: 0 0 25px  var(--color-staryellow);
}

.container input#price-rate-5:checked ~ label{
color: var(--color-staryellow);
text-shadow: 0 0 25px var(--color-staryellow);
}

/* submit button styling */

#submit {
    width: 100%;
    border: none;
    color: var(--color-blue);
    transition: ease-out 0.3s;
    font-size: 1.2rem;
    outline: none;
    border: 1px solid var(--color-blackfogra);
    position: relative;
    /* button */
    margin-top: 20px;
    margin-bottom: 50px;
    border: solid 1px gainsboro;
    border-radius: 0.25rem; 
    -webkit-box-shadow: 
      inset 0 0 1px 10px rgba(0,0,0,0.1),
            0 0 2px 10rem rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 1rem  rgba(0,0,0,0.1),
            0 0 2rem rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 2.5rem  rgba(0, 102, 255, 0.1),
            0 0 5rem rgba(0, 68, 255, 0.1); 
    padding: 0.3rem; 
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0; 
    color: var(--color-blue)
}
 
#submit:hover {
    width: 15rem;
    transition: 1s all ease;
    font-size: 1.5rem;
    font-weight:800;
    cursor: pointer;
    text-transform: uppercase;
}

textarea {
    background-color : whitesmoke;
    border: solid 3px gainsboro;
    border-radius: 0.25rem; 
    -webkit-box-shadow: 
      inset 0 0 1px  rgba(0,0,0,0.1),
            0 0 2px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 1px  rgba(0,0,0,0.1),
            0 0 2px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 1px  rgba(0,0,0,0.1),
            0 0 2px rgba(0,0,0,0.1); 
    padding: 0.3rem; 
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0; 
    color: var(--color-blue)
}


select {

    background-color : whitesmoke;
    border: solid 2px #fff;
    border-radius: 0.25rem; 
    -webkit-box-shadow: 
      inset 0 0 1px  rgba(0,0,0,0.1),
            0 0 2px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 1px  rgba(0,0,0,0.1),
            0 0 2px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 1px  rgba(0,0,0,0.1),
            0 0 2px rgba(0,0,0,0.1); 
    padding: 0.3rem; 
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0; 
    color: var(--color-blue)
  
}

input[type=email] {
    width: 15rem;    
}

input[type=text] {
    width: 15rem;   
}

input[id=age] {
    width: 3rem;   
}

html {
    font-size: 70%;
}

body {
    font-family: 'Open Sans', sans-serif; 
}

#title{
    font-size: 3rem;  

}

.title-header{
    margin: 20px;
    text-align: center;    
    color: var(--color-gunmetal);
    font-size: 0.8rem;
}

label {
    color: var(--color-blue);
}

.primary-info label{
    margin-top: 2rem;
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
}

.secondary-info label{
    font-size: 1.2rem

}
     /* please rate us  */
#feedback-instructions {
    color: var(--color-gunmetal);
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.7rem;
    
}

.feedback-label {
    color: var(--color-blue);
    
}

.feedback-label h6{
    font-size: 1.2rem;
    
}
        /* SEX and TYPE OF VEHICLE label  */
.secondary-info h6{
    color: var(--color-blue);
    margin: 2rem 0 1rem 0;
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
  
}


.feedback-label{
    font-size: 1.5rem;
}

.comments h6{
    color: var(--color-gunmetal);
    margin: 2rem 0 1rem 0;
    font-weight: 900;
    font-size: 1rem;
    /* text-transform: uppercase; */
  
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: lightgray;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: lightgray;
  }

button,
input,
textarea,
select{
    font-family: 'Open Sans', sans-serif; 

    background-color: transparent;
   
}

select {
    font-size: 1.2rem;
    
}

.secondary-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secondary-info label{
    margin-top: 2rem;
}

.flex-row-item{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.flex-column-item{
    display: flex;
    flex-direction: column;
   
}

.secondary-info .checkbox-item {
    margin-left: 1rem;
}

textarea {
    width: 80%;
}

@media (max-width:1200px) {
    
    .title-header{
        text-align: center;
        margin-left: 20px;
    
    }

    form{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

    #img-header {
        width: 100%;
        height: 15rem;
        border-radius: 0;
    }

    .container-survey {
        border-radius: 0;
        border: none;
    }

    html {
        font-size: 100%;
    }
  
    .container-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
        top: unset;
        left: unset;
        transform: unset;
        height: 100%;
        border:none;
        
    }
    .container-survey {
        max-width: 100%;
    }
}
@media (max-width: 840px) {
    .container-main{
        min-width: 80%;
        display: flex;
        flex-direction: column;  
        align-items: center;
        
    }

    .secondary-info label{
        font-size: 0.8rem
    }

    form {
        align-items: center;
    }

    .container-survey{
        min-width: 100%;
        max-width: 100%;
    }
    
    .primary-info .flex-row-item{
        display: flex;
        flex-direction: column;
    }

    .secondary-info{
        display: flex;
        flex-direction: column;
    }
    /* remove margine for the left of personal info */
    .personal-info .flex-column-item {
        margin-left: 5px;
    }
    
    .secondary-info {
        margin-left: 5px;
    }
}

@media (max-width: 680px) {
    #flex-row-secondary-info{
        display: flex;
        flex-direction: column;
    }

    .container-main-feedback {
        align-items: center;
    }

    .feedback-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .primary-info input {
        min-width: 100%;
    }
}

@media (max-width: 400px) {
    
    html{
        font-size: 65%;
    }
    #feedback-instruction{
        text-align: center;
    }

    form{
        padding-left: 20px;
        padding-right: 20px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .personal-info {
        align-items: flex-start;
    }
}

@media (max-width: 320px) {
    
    .container-main {
        width: 100%;
    }
}