body{
    margin: 0;
    background-color: black;
    color: white;
    font-size: 30px;
    line-height: 30px;    
}

header{
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
    width: auto;
    height: 100%;

}

header h1{
    font-size: 80px;
    color: white;  
    
}

h1, h2{
    font-family: 'Roboto', sans-serif;
}

#title{
    font-family: 'Roboto', sans-serif;
    
}

main{
    max-width: 800px;
    text-align: left;
    margin: 0 auto;
    padding: 20px;
}

main img {
    max-width: 100%;   
}

h2{
    font-size: 35px;
}

a{
    color: white;
}

a:hover{
    color: blue;
}

/* SLIDER STYLING */

.slider {
    position: relative;
    overflow: hidden;
    
}

.sliderImages{
    display: flex;
    width: 100%;
    
}

.sliderImages img{
    transition: all 0.15s ease;
}

.sliderImages input{
    display: none;
}

.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.dots label{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: solid white 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}

.dots label:hover {background: white;}
#img1:checked ~ .m1 {
    margin-left: 0;

}

#imgw:checked ~ .m2 {
    margin-left: -100%;

}
#img1:checked ~ .m3 {
    margin-left: -200%;

}


footer{
    text-align: center;

}