:root {
    --color-blue: #00c3e3;
    --color-lightRed:#ff4554;
    --color-gray: #989898;
    --color-darkGray: 	#414548;
    --color-yellowRed: 	#F7B538;
    --color-snow: #FFFBFC;
    --font-family-permanentMarker: 'Permanent Marker', cursive;
    --font-family-play: 'Play', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
    font-family: var(--font-family-mPlus);
    font-weight: normal;
}

body {
    background-color: var(--color-snow);
}

.container-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.container-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-play);
    margin-top: 50px;
    /* border: solid 3px gainsboro; */
    /* display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px); */

    
    /* box-shadow: 6px 6px 13px #fff, 6px 6px 13px rgba(0,0,0,0.16); */
}

.rows {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 100px;
    
    
}
.action-button {
    
  height: 100%;
  width: 100%;
  font-size: 80px;
}

h1 {
    text-align: center;
    font-size: 3.375rem;
    margin-bottom: 50px;
    color:var(--color-yellowRed);
    font-family: var(--font-family-permanentMarker);
   
}
h2{
    
    text-align: center;
    font-size: 2.25rem;
  
}
#reset {
    margin-top: 40px;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: solid 3px var(--color-red);
}

@media (max-width: 768px) {
    .container-items {
        grid-template-columns: repeat(3, 120px);
        grid-template-rows: repeat(3, 120px);
    }
   
}

@media (max-width: 420px) {
    html {
        font-size: 80%;
    }
    .container-items {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
    }

    .action-button {
        font-size: 1.5rem;
    }
   
}


